body {
    background-color: #222;
    font-family: sans-serif;
    color: white;
}

canvas {
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
}
#playerInfoOverlay {
    pointer-events: none;
}

#gameControls {
    pointer-events: visible;
}

#joinForm {
    display: flex;
    flex-direction: column;
    float: left;
}

fieldset {
    margin-bottom: 1em;
}

#game {
    display: none;
    flex-direction: column;
    width: 800px;
    height: 100%;
}

#existingGames {
    display: none;
    flex-direction: column;
}

.resource-list, .resource-list * {
    display: inline;
    color: white;
}

aside {
    float: right;
    width: 300px;
    background: rgba(0,0,0,0.3);
    padding: 1em;
}

#chat {
    position: absolute;
    width: 500px;
    max-width: 500px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    top: 300px;
    pointer-events: none;
}

#chatInput {
    width: 100%;
    display: none;
    max-width: 100%;
    padding: .2em;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(250,250,250,0.5);
    color: rgba(250,250,250,0.8);
    font-size: 1.2em;
}

#chatHistory {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    background-color: transparent;
    overflow: hidden;
    color: black;
}

.chatEntry {
    display: block;
    padding: .2em .2em .5em;
    color: rgba(250,250,250,0.8);
}


li.gameInfo {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    margin: .5em;
    padding: .3em;
}

span.gameName {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: .3em;
    display: block;
}

ul#gameList,
ul.playerList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.colorSquare {
    display: inline-block;
    border: 1px solid transparent;
    height: .8em;
    width: .8em;
    opacity: 0.5;
    vertical-align: middle;
}

.colorSquare:hover {
    opacity: 1;
}

.colorPicker {
    display: none;
}

input[type="radio"].colorPicker:checked + label.colorSquare {
    opacity: 1;
    border: 1px solid white;
}